@charset "UTF-8";

/* (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧  버그여, 사라져라!  ✧ﾟ･: *ヽ(◕ヮ◕ヽ) */

@import url(font.css);

/* reset */
*{margin: 0;padding: 0;}
body{color: #000;font-family: 'Pretendard-SemiBold';}
a{text-decoration: none;}
ul, li{list-style: none;}
img, video{vertical-align: top;}
table{border-collapse:collapse;}
/* reset */
 
.mobile{display: none;}
.pc{display: block;}

.centerbox{max-width: 1475px;margin: 0 auto;}

header{width: 100%;margin: 4vw 0;} 
header .centerbox{display: flex;justify-content: space-between;align-items: center;}
header h1{}
header h1 a{}
header h1 a img{}
header .menu_wrap{display: flex;}
header .pc_nav{position: relative;padding: 25px;}
header .pc_nav .gnb{display: flex;justify-content: center;word-break: keep-all;gap: 20px;}
header .pc_nav .gnb > li{height: 100%;display: flex;justify-content: center;align-items: center;position: relative;}
header .pc_nav .gnb > li > a{font-size: 18px;color: #3B4F3A;padding: 10px 25px;}
header .pc_nav .gnb > li > .lnb{position: absolute;top: 6em;width: 200px;z-index: 2;display: flex;flex-direction: column;justify-content: center;align-items: start;opacity: 0;visibility: hidden;transition: 0.3s;}
header .pc_nav .gnb > li > .lnb > li{padding-bottom: 40px;margin-left: 50px;}
header .pc_nav .gnb > li > .lnb > li > a{padding: 30px;font-size: 16px;color: #fff;padding: 10px 10px;background: none; transition: 0.3s;}
header .pc_nav .lnb_bg{position: absolute;width: 100%;height: 23em;background: rgba(82, 140, 207, 0.9);z-index: 1;top: 4.5em;border-radius: 85px;opacity: 0;visibility: hidden;transition: 0.3s;}
header .pc_nav .lnb_bg::before{content: "";width: 30px;height: 30px;position: absolute;left: 80%;top: -15px;background: #fff;border-radius: 50%;}

header .pc_nav:hover .gnb li .lnb, header .pc_nav:hover .lnb_bg{opacity: 1;visibility: visible;}
header .pc_nav .gnb > li > .lnb > li:hover > a{background: rgba(225, 225, 225, 0.3);}


header .topmenu{display: flex;position: relative;gap: 19.3px;align-items: center;}
header .topmenu a{color: #fff;display: inline-block;font-size: 18px;height: 40px;width: 120px;text-align: center;line-height: 2.2;border-radius: 18px;}
header .topmenu .login{background: #7BBB5C;}
header .topmenu figure{position: absolute;left: 116.1px;}
header .topmenu .join{background: #60BF97;}


#hero{}
#hero video{width: 100%;position: relative;}
#hero .textbox{position: absolute;left: 50%;top: 45%;}
#hero .textbox p{font-size: 1vw;color: #6C6C6C;font-family: 'Pretendard-Light';margin-bottom: 2rem;}
#hero .textbox strong{display: block;font-size: 5vw;color: #6C6C6C;font-family: 'Cafe24Dangdanghae';font-weight: normal;margin-bottom: 1rem;}
#hero .textbox strong span:nth-of-type(1){color: #7BBB5C;}
#hero .textbox strong span:nth-of-type(2){color: #60BF97;}
#hero .textbox em{font-size: 1.5vw;color: #6C6C6C;font-style: normal;font-family: 'Pretendard-ExtraLight';display: block;width: 33vw;}


/* section 공통 */
section{padding: 0 15px;}
section .centerbox{padding: 100px 0;}
section .title{text-align: center;}
section .title h2{position: relative;margin-bottom: 20px;color: #6E7B31;font-size: 30px;font-family: 'Pretendard-Regular';display: inline-block;}
section .title h2 span:nth-child(1){content: "";width: 8px;height: 8px;position: absolute;background: #C6B929;border-radius: 50%;left: -20px;}
section .title h2 span:nth-child(2){content: "";width: 6px;height: 6px;position: absolute;background: #ABC72E;border-radius: 50%;left: -23px;top: -7px;}
section .title h2 span:nth-child(3){content: "";width: 5px;height: 5px;position: absolute;background: #6E7B31;border-radius: 50%;left: -28px;}
section .title p{margin-bottom: 70px;font-size: 20px;font-family: 'Pretendard-ExtraLight';}

/* section 내용 공통 */
section .content{font-family: 'Pretendard-Regular';}
section .content h4{font-size: 22px;margin-bottom: 0.5rem;}
section .content p{font-size: 16px;color: #888888;}

section .sectionbox #section1{}
section .sectionbox #section1 .centerbox{}
.part1{}
.part1 .content{display: flex;gap: 20px;}
.part1 .content li{}
.part1 .content li img{width: 100%;}

section .sectionbox #section2{}
section .sectionbox #section2 .centerbox{}
.part2{}
.part2 .content{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-template-rows: 1fr 1fr 1fr;gap: 20px;}
.part2 .content li{}
.part2 .content li img{margin-bottom: 1.5rem;width: 100%;}
.part2 .content li p{margin-bottom: 2.2rem;}

footer{font-size: 15px;font-family: 'Pretendard-Regular';}
footer .footer_top{width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;background: #E3E1D1;padding: 30px 0;}
footer .footer_top h1{width: 100%;display: inline-block;text-align: center;margin-bottom: 10px;}
footer .footer_top p{line-height: 1.3;text-align: center;}
footer .footer_btm{display: flex;flex-direction: column;justify-content: center;align-items: center;background: #A39F73;padding: 30px 0;}
footer .footer_btm p{line-height: 1.5;}
footer .footer_bg{width: 100%;height: 20px;background: #342B1E;}


/* sub */
#sub_hero{position: relative;}
#sub_hero img{width: 100%;position: relative;}
#sub_hero .textbox{position: absolute;left: 15%;top: 20%;}
#sub_hero .textbox p{font-size: 0.8vw;color: #6C6C6C;font-family: 'Pretendard-Light';margin-bottom: 1rem;}
#sub_hero .textbox strong{display: block;font-size: 3vw;color: #6C6C6C;font-family: 'Cafe24Dangdanghae';font-weight: normal;margin-bottom: 1rem;}
#sub_hero .textbox strong span:nth-of-type(1){color: #7BBB5C;}
#sub_hero .textbox strong span:nth-of-type(2){color: #60BF97;}
#sub_hero .textbox em{font-size: 1.5vw;color: #6C6C6C;font-style: normal;font-family: 'Pretendard-ExtraLight';display: block;}


/* mobile */
@media screen and (max-width:1350px) {
    header .centerbox{flex-direction: column;}
}

@media screen and (max-width:1050px) {
    header .topmenu{position: absolute;right: 50px;top: 70px;}
    .mobile_nav {display: none}
    
}

@media screen and (max-width:960px) {
    header .menu_wrap.pc{display: none;}
    .mobile{display: block;}
    section{padding: 0 15px;}

    header .hamburger{position: absolute;width: 20px;height: 20px;z-index: 10;left: 20px;top: 20px;display: block;}
    header .hamburger span{position: absolute; width: 20px;height: 2px;background: #51B888;left: 50%;top: 50%;transform: translateX(-50%);transition: .3s;}
    header .hamburger span::before,
    header .hamburger span::after{position: absolute;content: ""; width: 100%;height: 100%;transition: .3s;}
    header .hamburger span::before{background: #7BBB5D;top: -5px;}
    header .hamburger span::after{background: #E3713C;top: 5px;}

    header .hamburger.on span{background: transparent;}
    header .hamburger.on span::before{top: 0; transform: rotate(-45deg);background: #000;}
    header .hamburger.on span::after{top: 0; transform: rotate(45deg);background: #000;}

    header{display: flex;justify-content: center;align-items: center;}
    header h1 a{display: block;}
    header h1 a img{width: 25vw;height: auto;}

    header .mobile_nav{position: fixed;width: 100%;height: 100vh;left: 0;top: 0;background: rgba(0, 0, 0, 0.9);z-index: 7;display: none;}
    header .mobile_nav .gnb{width: 300px;height: 100%;background: #eee;display: flex;flex-direction: column;position: absolute;justify-content: center;align-items: center;padding: 0 20px;}
    header .mobile_nav .gnb > li{text-align: center;line-height: 3;width: 100%;border-bottom: 1px solid #ddd;}
    header .mobile_nav .gnb > li:nth-child(5){border-bottom: none;}
    header .mobile_nav .gnb > li a{color: #000;display: inline-block;width: 100%;}
    header .mobile_nav .gnb > li .lnb{display: none;background: #fff;}
    header .mobile_nav .gnb > li .lnb > li a{font-size: 15px;font-weight: normal;}

    header .mobile_nav.on .gnb{transform: translateX(0);}

    #hero .textbox{position: relative;left: auto;top: auto;display: flex;flex-direction: column; justify-content: center;align-items: center;margin-top: 40px;padding: 0 20px;word-break: keep-all;}
    #hero .textbox p{font-size: 3vw;margin-bottom: 1em;}
    #hero .textbox strong{font-size: clamp(60px, 10vw, 100px);margin-bottom: 0.2em;}
    #hero .textbox em{font-size: 4vw;width: 100%;}

    section .content h4{font-size: 20px;}

    .part2 .content{display: grid;grid-template-columns: 1fr 1fr;grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;gap: 20px;}
    .part2 .content li img{margin-bottom: 1.5rem;width: 100%;}
    .part2 .content li p{margin-bottom: 2.2rem;}

    footer .footer_top p{padding: 0 15px;word-break: keep-all;}

    /* sub */
    #sub_hero .textbox p{font-size: clamp(11px, 3vw, 15px);color: #6C6C6C;font-family: 'Pretendard-Light';margin-bottom: 0.9em;}
    #sub_hero .textbox strong{display: block;font-size: clamp(26px, 5vw, 50px);color: #6C6C6C;font-family: 'Cafe24Dangdanghae';font-weight: normal;margin-bottom: 0.3em;}
    #sub_hero .textbox em{font-size: clamp(15px,3vw, 25px);color: #6C6C6C;font-style: normal;font-family: 'Pretendard-ExtraLight';display: block;}


    
}